@import "variables";
@import "mixins";

.chat__files {

  &__card {
    @include dialog-card();
    height: 60vh;
    display: flex;
    flex-direction: column;

    &__tabs {
      padding-bottom: 0;
      height: 100px;

      &-list {

      }

      &-item {

        &__count {
          position: absolute;
          top: 0;
          left: 70%;
          font-size: 13px;
        }
      }
    }

    &__panels {
      padding-top: 0;
      overflow-y: auto !important;
      height: 100%;

      &-list {

        background-color: inherit;
      }
    }

    &-list {

      &__group {

        &-item {

          &--selected {

            color: $primary-color;
          }
        }
      }

      &--not-found {
        display: flex;
        align-items: center;
        justify-content: center;

        &__text {
          font-size: 16px;
          color: rgba(255, 255, 255, .7);
        }
      }
    }
  }
}