@import "../variables";
@import "_variables";
@import "message-area";
@import "message";
@import "mixins";
@import "context-menu";
@import "confirm-dialog";
@import "message-form";

.chat {
  background: $chat-background;
  height: 100%;
  max-height: calc(100vh - #{$header-height});
  box-sizing: border-box;
  position: relative;

  &__button--settings {
    @include settings-button(25px)
  }

  &__button--pinned {
    @include settings-button(105px)
  }
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.button__hover--disable .q-focus-helper {
  display: none;
}
