@import "../variables";
@import "_variables";
.chat__menu {
  background-color: $chat-background;
  font-size: 13px;
  color: white;

  &-list {

    &__item {

      &-avatar {
        font-size: 20px !important;
      }

      &-content {
      }
    }
  }
}
