@import '../variables';
@import "_variables";

.chat__message {

  &-content {
    display: flex;
    flex-direction: column;

    &__text {
      white-space: pre-wrap !important;
      width: fit-content;
    }

    &__reply {
      border-left: 3px solid $primary-color;
      padding-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      &-user {
        color: $primary-color;
      }

      &-text {
        display: inline-block;
        max-width: calc(100% - 5px);
      }
    }

    .chat__messages-file-list {
      width: 100%;
    }
  }

  &-user {
    width: fit-content;
    color: $primary-color;
  }

  &-user, &-avatar {
    cursor: pointer;
    transition: 0.2s;
    margin-right: 10px;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }

  &-info {
    display: flex;
    justify-content: flex-end;

    &__icon {
      color: $primary-color;

      &_edit {
        margin-right: 3px;
      }
    }

    &__stamp {
      font-size: 12px;
    }
  }

  &[data-prev-same-user="true"] {
    margin-bottom: 0;

    .q-avatar__content, .q-message-text::before {
      display: none !important;
    }
  }

  &[data-next-same-user="true"] {
    .q-message-name {
      display: none !important;
    }
  }

  &--info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;

    &__text {
      border-radius: 30px;
      padding: 5px 10px;
      background-color: #1E2C3A;
    }
  }
}
