@import '../variables';
@import "mixins";
@import "_variables";

.chat__messages-area {
  overflow-y: auto;
  max-height: calc(100vh - #{$header-height} - #{$message-input-height});

  .chat__messages-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .chat__messages-date {
      background-color: #1E2C3A;
      width: fit-content;
      color: #fff;
      border-radius: 30px;
      padding: 5px 10px;
      font-size: 13px;
      margin: 5px 0;
      cursor: pointer;
    }

    .chat__message-container {
      width: 100%;
      padding: 5px 10px;

      &.chat__message--selected {

        .q-message-text {
          background-color: $primary-color;

          &:before {
            color: $primary-color;
          }
        }

        .chat__message-content__reply {
          border-left-color: white;

          &-user {
            color: white;
          }
        }
      }
    }
  }

  &__scroll-button {
    position: sticky;
    bottom: 5%;
    left: 92%;
    background-color: #243446;
    color: #DBDBDB;
  }

  .chat__messages-actions__container {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #DBDBDB;
    max-width: 60%;
    z-index: 10;
  }

  .chat__messages-actions__button {
    background-color: #3476AB;
    opacity: 0.7;
  }
}

.chat__date-picker {

  &__card {
    @include dialog-card(70vw)
  }

  &__input {
    background-color: $chat-background;

    &-container {

    }
  }
}

.scroll-button-leave-active, .scroll-button-enter-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.scroll-button-leave-to, .scroll-button-enter-from {
  transform: translateX(10px);
  opacity: 0;
}
