@import '../variables';
@import "_variables";

@mixin dialog-card($left: 70vw) {
  position: absolute;
  left: $left;
  background-color: $chat-background;
  color: white;
}

@mixin chat-button($margin-left: 0px) {
  background-color: #243446;
  color: #DBDBDB;
  z-index: 5;
  transition: .1s;
  margin-left: $margin-left;
}
